@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Libre+Barcode+39+Text&family=VT323&display=swap');

body {
    text-align: center;
    background-color:rgb(250, 225, 217);
    font-family: 'Courier Prime', monospace;
    font-size: large;
}

#top {
    border-style: double;
    border-width: 10px;
    border-color: rgb(40, 45, 54);
    background-color: rgb(253, 241, 237);
    padding: 20px;
    margin-bottom: 30px;
}

#box2 {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(40, 45, 54);
    background-color: rgb(180, 205, 202);
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 150px;
    margin-bottom: 10px;
}
#inline {
    display: inline-block;
}

#websiteheader {
    padding: 30px;
    background-color: rgb(236, 182, 164);
    color: rgb(253, 241, 237);
    text-align:right;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 80px;
    box-shadow: 0px 10px rgb(250, 225, 217);
}

#pagetitle {
    background-color:rgb(40, 45, 54);
    color: rgb(236, 182, 164);
    margin-top: 20px;
    padding: 50px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    border-style: double;
    border-color: rgb(253, 241, 237);
    border-width: 8px;
}
h1 {
    font-size: 60px;
}

#directory {
    text-align: left;
    margin-top: 20px;
}
h2 {
    font-size: 40px;
    text-align: center;
    color: rgb(40, 45, 54);
}
a {
    font-family: 'Courier Prime', monospace;
    text-decoration:none;
    font-size:30px;
    color: rgb(253, 241, 237);
    text-align: center;
}
a:hover {
    color:rgb(253, 241, 237);
}
#direclist {
    list-style-type:none;
    text-align: center;
}
#button1, #button2 {
    display: inline-block;
}
#button3, #button4 {
    display: inline-block;
}
button {
    padding: 15px;
    width: 200px;
    background-color: rgb(180, 205, 202);
    color: rgb(253, 241, 237);
    font-family: 'Courier Prime', monospace;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:none;
    box-shadow: 0 0 0 rgb(40, 45, 54);
    transition: all 0.2s;
    margin: 10px;
}
button:hover {
    box-shadow: 0.4rem 0.4rem 0 rgb(40, 45, 54);
    transform: translate(-0.4rem, -0.4rem);
}
button:active {
    box-shadow: 0 0 0 rgb(40, 45, 54);
    transform: translate(0, 0);
}
p {
    margin-top:20px;
}
hr {
    background-color:rgb(40, 45, 54);
    height: 100px;
}

#mainbox {
    padding: 30px;
    background-color:rgb(40, 45, 54);
    margin-top: 5px;
    color: rgb(253, 241, 237);
    box-shadow: 10px 10px rgb(31, 21, 35);
    border-color: rgb(253, 241, 237);
    border-style: solid;
    border-width: 2px;
    transform: translate(-10px, 0px);
    margin-bottom: 40px;
}
#mainheader {
    color: rgb(253, 241, 237);
    font-family: 'VT323', monospace;
    font-size: 40px;
}
h4 {
    font-size: 30px;
}
#innerbox {
    margin: 30px;
    color: rgb(40, 45, 54);
    padding: 20px;
    background-color: rgb(253, 241, 237);
    border-radius: 20px;
    font-size: 25px;
}
#titlehighlight {
    background-color: rgb(236, 182, 164);
    padding: 10px;
    margin: 10px;
    border-style: double;
    border-width: 8px;
    border-color: rgb(253, 241, 237);
}
#description {
    margin: 20px;
    text-align: left;
}
#blink {
    animation: blink 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: none;
    font-family: 'VT323', monospace;
}
@keyframes blink {
    from {opacity:0};
    to {opacity:1};
}
a:hover, .selectblink {
    animation: blink 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: none;
}
img {
    margin: auto;
}
#colorsquare1 {
    background-color:rgb(236, 182, 164);
    width:30px;
    height:30px;
    color:rgb(236, 182, 164);
    margin: 20px 5px;
}
#colorsquare2 {
    background-color:rgb(180, 205, 202);
    width:30px;
    height:30px;
    color:rgb(180, 205, 202);
    margin: 20px 5px;
}
#colorsquare3 {
    background-color:rgb(253, 241, 237);
    width:30px;
    height:30px;
    color:rgb(253, 241, 237);
    margin: 20px 5px;
}
p {
    margin-top: 10px;
}

.pro {
    background-color:rgb(131, 175, 153);
    width: 500px;
    height: 200px;
    margin: auto;
    color: rgb(253, 241, 237);
}
.con {
    background-color:rgb(230, 99, 95);
    width: 500px;
    height: 200px;
    margin: auto;
    color: rgb(253, 241, 237);
}
.pro:hover, .con:hover {
    animation-name: enlarge;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin:auto;
}
@keyframes enlarge {
    0% {height: 100%;}
    100% {height: 110%;}
}
.proscons {
    text-align: left;
}

#photolist{
    position:auto;
    margin:0;
    padding:0;
  }
  
  #photo{
    text-align:center;
    display:inline-block;
    list-style:none;
    position:relative;
    border:solid 12px #fff;
    background:#fff;
    box-shadow:0 0 15px 0px rgb(40, 45, 54);
    transition:all 1s ease;
    -o-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    top:50px;
  }
  #photo:hover{
    top:0px;
    opacity:0.5;
  }
  
  #photo:nth-child(1), #photo:nth-child(5) {
      transform:rotate(10deg);
  }
  
  #photo:nth-child(2), #photo:nth-child(6) {
      transform:rotate(0deg);
  }
  
  #photo:nth-child(3), #photo:nth-child(7) {
      transform:rotate(-10deg);
  }
  
  #photo:nth-child(4), #photo:nth-child(8) {
      transform:rotate(20deg);
  }

  #caption {
    color:rgb(40, 45, 54);
    margin: 10px 0 0 0;
  }
  
  .light{
    border-radius:50%;
    position:absolute;
    left:0;
    right:0;
    width:700px;
    height:700px;
    background:#fff;
    filter:blur(100px);
    opacity:0.3;
    pointer-events:none;
  }