@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    text-align: center;
    background-color:rgb(253, 241, 237);
    font-family:'Press Start 2P', cursive;
}

#top {
    border-style: double;
    border-width: 10px;
    border-color: rgb(40, 45, 54);
    background-color: rgb(253, 241, 237);
    padding: 20px;
}

#websiteheader {
    padding: 30px;
    background-color: rgb(236, 182, 164);
    color: rgb(253, 241, 237);
    text-align:right;
}

#pagetitle {
    background-color:rgb(40, 45, 54);
    margin-top: 20px;
    padding: 90px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}
h1 {
    font-size: 50px;
    color: rgb(236, 182, 164);
}

#directory {
    text-align: left;
    margin-top: 20px;
}
h2 {
    font-size: 30px;
    text-align: center;
    color: rgb(40, 45, 54);
}
a {
    font-family:'Press Start 2P', cursive;
    text-decoration:none;
    font-size:20px;
    color: rgb(253, 241, 237);
    text-align: center;
}
a:hover {
    color:rgb(253, 241, 237);
}
ul {
    list-style-type:none;
    text-align: center;
}
#button1, #button2 {
    display: inline-block;
}
#button3, #button4 {
    display: inline-block;
}
button {
    padding: 15px;
    width: 200px;
    background-color: rgb(180, 205, 202);
    color: rgb(253, 241, 237);
    font-family: 'Press Start 2P', cursive;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:none;
    box-shadow: 0 0 0 rgb(40, 45, 54);
    transition: all 0.2s;
    margin: 10px;
}
button:hover {
    box-shadow: 0.4rem 0.4rem 0 rgb(40, 45, 54);
    transform: translate(-0.4rem, -0.4rem);
}
button:active {
    box-shadow: 0 0 0 rgb(40, 45, 54);
    transform: translate(0, 0);
}
p {
    margin-top:20px;
}
hr {
    background-color:rgb(40, 45, 54);
    height: 100px;
}

#mainbox {
    padding: 30px;
    background-color:rgb(253, 241, 237);
    margin-top: 5px;
}
h3 {
    color: rgb(31, 28, 43);
}
#blink {
    animation: blink 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: none;
}
@keyframes blink {
    from {opacity:0};
    to {opacity:1};
}
a:hover, .selectblink {
    animation: blink 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: none;
}
img {
    margin: 5px;
}
#pinkcolorsquare {
    background-color:rgb(230, 99, 95);
    width:30px;
    height:30px;
    color:rgb(230, 99, 95);
    margin: 20px 5px;
}
#greencolorsquare {
    background-color:rgb(131, 175, 153);
    width:30px;
    height:30px;
    color:rgb(131, 175, 153);
    margin: 20px 5px;
}
#yellowcolorsquare {
    background-color:rgb(247, 172, 122);;
    width:30px;
    height:30px;
    color:rgb(247, 172, 122);;
    margin: 20px 5px;
}
p {
    margin-top: 10px;
}

.pro {
    background-color:rgb(131, 175, 153);
    width: 500px;
    height: 200px;
    margin: auto;
    color: rgb(253, 241, 237);
}
.con {
    background-color:rgb(230, 99, 95);
    width: 500px;
    height: 200px;
    margin: auto;
    color: rgb(253, 241, 237);
}
.pro:hover, .con:hover {
    animation-name: enlarge;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin:auto;
}
@keyframes enlarge {
    0% {height: 100%;}
    100% {height: 110%;}
}
.proscons {
    text-align: left;
}